$radiusAvatarImg: 5px;

.avatar {
	display: inline-block;
	max-width: 100%;
	position: relative;
	vertical-align: bottom;

	img {
		vertical-align: bottom;

		@include border-radius($radiusAvatarImg);
		@include box-shadow(0 1px 2px rgba(0,0,0,.4));
	}

	&:after {
		content: ' ';
		width: 100%;
		height: 100%;
		position: absolute; top: -1px; left: -1px;
		border: solid 1px #000;

		@include border-radius($radiusAvatarImg);
	}

	&:after			{ @include box-shadow(inset 0 0 1px rgba(0,0,0,.8), inset 0 1px 0 rgba(255,255,255,.5)); }
	&.embossed:after		{ @include box-shadow(inset 0 0 1px rgba(0,0,0,.8), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -6px 0 rgba(0,0,0,.6), inset 0 -7px 0 rgba(255,255,255,.3)); }
	&.soft-embossed:after	{ @include box-shadow(inset 0 0 3px rgba(0,0,0,1), inset 0 1px 1px rgba(255,255,255,.5), inset 0 -6px 2px rgba(0,0,0,.6), inset 0 -8px 2px rgba(255,255,255,.3)); }
	&.cutout:after			{ @include box-shadow(0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6)); border-color: #EEE }
	&.glossy:after {
		width: 100%; height: 50%;
		border: none;
		position: absolute; top: 0; left: 0;
		content: ' ';

		@include border-top-left-radius($radiusAvatarImg - 2px);
		@include border-top-right-radius($radiusAvatarImg - 2px);
		@include background-image(linear-gradient(left top, rgba(255,255,255,0.6), rgba(255,255,255,.15))); 
	}
}

.tweet_avatar {
	@extend .avatar;
}


