.home {
	.panel {
		width: 33.33%; 
		float: left; 

		.content {
			padding-right: 3em; 

		}
	}

	.row {
		overflow: hidden; 
		padding: 2em 0 0 3em; 

		&.line1 {
			border-bottom: 2px solid $secondaryBorderColor;

			ul { padding-left: 1.3em;  }

			.panel { width: 50%; padding-bottom: 1em; }
		}

		&.line2 {
			border-top: 2px solid $mainBorderColor;
			border-bottom: 2px solid $secondaryBorderColor;
		
			padding: 1em 0.5em 0 0.5em; 

			.twitter {
				overflow: hidden; 

				header { display: none; }

				.content {
					overflow: hidden; 

					.tweet_list { padding: 0; } 
					.tweet_list li {
						float: left;
						width: 33.33%;
						padding: 0 0 1em 0; 
					}
				}
			}
		}

		&.line3 {
			border-top: 2px solid $mainBorderColor;
			border-bottom: 2px solid $secondaryBorderColor;
				
			padding-left: 0.5em; 

			.content {
				.tweet_list {
					li {
						width: 50%; 
						padding: 0; 
						float: left; 
						.tweet_avatar { img { width: 45px; height: 45px; } }
						.tweet_user { padding: 0; font-size: 1em; }
						.tweet_text { 
							display: block; 
							float: none; 
							height: 55px; 
							padding: 0.5em 1em 0 60px; min-height: inherit !important;
							overflow: hidden; 

							&:before, &:after {
								display: none; 
							}
						}
					}
				}
			}
		}

	}

}

.tweet_list {
	padding: 0; 

	li {
		display: block; 
		overflow: hidden; 
		position: relative; 
		padding: 0.8em 0.8em 1.5em 0.8em; 

		& > span, & > a, img { display: block; }

		.tweet_avatar {
			position: absolute; 
			left: 0.5em; top: 0.5em;
			z-index: 1000;

			img { 
			} 
		}

		.tweet_user, .tweet_time, .tweet_text { float: left; }

		.tweet_user {
			font-size: 1.2em; line-height: 1.1em; 
			padding-left: 0.8em; 

			&::before { content: '@'; }
		}

		.tweet_time {
			&::before { content: ', '; }
		}

		.tweet_text {
			font-size: 0.9em; 
			min-height: 5.2em;
			line-height: 1.3em; 
			padding: 0.5em 0.4em 0.4em 5.2em; 
			margin: 0 0.6em 1em 0; 

		}

		&.tweet_odd { }
		&.tweet_even { }
	}

}
$borderColor: #CCC;
$boxBackground: #EEE;
$offset: 7%;

.tweet_list li .tweet_text {
	position: relative;
	border: 1px solid $borderColor;

	@include border-radius(5px);
	@include background-image(linear-gradient(rgb(224, 224, 224), $boxBackground));
	@include box-shadow(#DDD 0px 0px 4px, #EEE 0 0 1px 1px inset);
	/*@include box-shadow(#EEE 0 0 1px 1px inset, #999 0px 0px 6px inset );*/

	&:after, &:before {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-top-color: $boxBackground;
		border-width: 10px;
		left: $offset;
		margin-left: -10px;
	}

	&:before {
		border-top-color: $borderColor;
		border-width: 11px;
		left: $offset;
		margin-left: -11px;
	}

}
