
.entry {
	padding: 2em 16em 2em 3em; 

	& > header {
		h1 { }
		a { }
	}

	& > .cnt {

	}

	& > footer {

	}
}

.single {

}

.archive {
	.entry {
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #fff;

		&:first-child { border-top: none; }
	}
}
