/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	.wf-active #container { font-size: 0.75em; line-height: 1.4em;  }

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {


}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

	.wf-active #container { font-size: 0.80em; line-height: 1.4em;  }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen
and (max-device-width : 1024px)
and (orientation : portrait) {

	.wf-active #container { font-size: 0.85em; line-height: 1.4em;  }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 900px) {

	.wf-active 	#container { font-size: 0.85em; line-height: 1.4em;  }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) {

	.wf-active 	#container { font-size: 0.85em; line-height: 1.4em;  }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

	.wf-active #container { font-size: 0.95em; line-height: 1.4em;  }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1400px) {


}

/* Large screens ----------- */
@media only screen
and (min-width : 1600px) {


}

/* Large screens ----------- */
@media only screen
and (min-width : 1800px) {


}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}
