/* Typography */

.wf-active {

	body, form, input, select, option, button, textarea,
	table, td, th { font: 100%/1.4em "PT Sans", "Lucida Grande", Lucida, Georgia, serif; font-size-adjust: 0.508; }

	h1, h2, h3, h4, h5, h6 { font: normal 1em/1.3em "PT Sans", "Lucida Grande", Georgia, serif;  }

	h1 { font-size: 2.836em; padding-bottom: 0.1em; }
	h2 { font-size: 2.218em; padding-bottom: 0.4em;  }
	h3 { font-size: 1.618em; padding-bottom: 0.5em;  }
	h4 { font-size: 1.236em; padding-bottom: 0.5em;  }
	h5 { font-size: 1.136em; font-weight: bold; }
	h6 { font-size: 1.0em; font-weight: bold; }

	#container { font-size: 0.9em; } 

	ul ul, ol ol, ul ol, ol ul, blockquote { padding: 0.6em 1em; margin-bottom: 1em;  }

	p, ol, ul { padding: 0 0 1.5em 0; margin: 0;  }
	li { display: list-item; padding-bottom: 0.4045em; }
	li:last-child { padding-bottom: 0; }

	blockquote { background: #FFF; border-radius: 0.6em; margin: 0 0 0 0.5em; padding-bottom: 1.5em;  }
	blockquote p:last-child { padding: 0; }

	p + blockquote { margin-top: 0; }
	ul > li { list-style: outside disc; }
	ol > li { list-style: outside decimal; }

	dl { padding-bottom: 0.908em; }
	dl dt { padding-bottom: 0.4em; }
	dl dd { padding: 0 0 0.4em 0.908em; }
	
	article.entry {
		font-size: 1.1em; 
		line-height: 1.4em; 
	}
}

