/* Artfully masterminded by ZURB  */
@import "settings";
@import "foundation";

/* Custom imports */
@import "foundation-icons-general";

/* Typography */
$ratio: $golden;
$base-size: 14px 44px;

body { font-family: "PT Sans", Gill Sans, sans-serif; }
h6 { font-size: ms(0); }
h5 { font-size: ms(1); }
h4 { font-size: ms(2); }
h3 { font-size: ms(3); }
h2 { font-size: ms(4); }
h1 { font-size: ms(5); }


// Layout
#container {
	@include outerRow();

	& > header {
		overflow: hidden; 

		h1 { float: left; }
	}

	& > footer { 

	}

	& > #main { 
		overflow: hidden; 
	}

}

ul#navigation {
	float: right; 
}

.panel {
	@include column(4);
	background: #EEE; 
	
	header { text-align: center; }
	.glyph { font-size: ms(6); text-align: center; padding: ms(2) 0;   } 
}
