/* Variables */
$widthContainer: 80%;
$widthMinContainer: 960px;

$colorBgrdBody: #F1F1F1;

$colorLinkNormal: #369;
$colorLinkHover:  #369;
$colorLinkActive: #369;
$colorLinkVisited: #369;
$colorLinkFocus:  #369;

$colorBorderMain: #CCC;
$colorBorderSecondary: #FFF;

/* Compass */
@import "compass/typography/links";
@import "compass/css3";

/* Custom imports */
@import "_mixins";
@import "_typography";
@import "_navigation";
@import "_elements";
@import "_lists";
@import "_forms";
@import "_animations";
@import "_avatars";
@import "_calendar";
@import "_mediaqueries";

* { margin: 0; padding: 0; }
.debug { white-space: pre; padding: 2em; }

body { background: $colorBgrdBody; }
hr { display: none; }
a { @include hover-link; @include link-colors($colorLinkNormal, $colorLinkHover, $colorLinkActive, $colorLinkVisited, $colorLinkFocus); }
.cleaner { display: block; clear: both; height: 0;  overflow: hidden; } 

// Layout
#container {
	width: $widthContainer;
	min-width: $widthMinContainer;
	margin: 0 auto; 
	padding-top: 3em; 
	position: relative; 
	color: #333; 

	& > header {
		overflow: hidden; 
		padding-left: 3em; 
		border-top: 2px solid $colorBorderMain; 
		border-bottom: 2px solid $colorBorderSecondary; 

		h1 { 
			float: left; 
			padding: 0.2em 0; 
			font-size: 7em;

			a { 
				display: block; 
				color: #333;
				@include text-shadow(#EEE -2px -2px 0px, #999 -4px -4px 0px);
				
				&:hover { 
					@include text-shadow(#EEE -1px -1px 0px, #999 -2px -2px 0px);
					text-decoration: none; 
				}
			}
		}
	
	}

	& > footer { 
		padding: 2.5em 0 0 3em; 
		overflow: hidden; 
		border-top: 2px solid $colorBorderMain; 
		border-bottom: 2px solid $colorBorderSecondary; 

		section.mod {
			width: 33.33%; 
			float: left; 
			overflow: hidden; 
		}

		#menu-sitemap {
			li {
				padding: 0; 

				ul {
					padding: 0 0 0 2em; 
				}
			}
		}
	}

	& > #main { 
		border-top: 2px solid $colorBorderMain;
	}

	& > #copyright {
		border-top: 2px solid $colorBorderMain;
		padding: 1em 1em; 
		color: #666;
		overflow: hidden; 
		font-size: 0.8em;
		line-height: 1.3em; 

		p { width: 50%; padding: 0; } 
		p:first-child { float: right; text-align: right;  }
		p:last-child { float: left; }

		a { color: #333; }
	}
}

.home {

	.panel {
		width: 50%; 
		float: left; 
		
		.content {
			padding-right: 3em; 
		}

		&:last-child .content { padding-right: 0.5em; }

		&#calendar {
			float: none;
			width: auto;

			font-size: 0.8em; 
		}
	}

	.row {
		overflow: hidden; 
		padding: 2em 0 0 0.5em; 

		&.line1 {
			border-bottom: 2px solid $colorBorderSecondary;
		}

		&.line2 {
			border-top: 2px solid $colorBorderMain;
			border-bottom: 2px solid $colorBorderSecondary;
		}

		&.line3 {
			border-top: 2px solid $colorBorderMain;
			border-bottom: 2px solid $colorBorderSecondary;
		}
	}

}

