/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body { -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */ }

#page { max-width: 1100px; }

#page { border-top: 5px solid #444; }
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	/* #page { border-color: #888; } */

	.wf-active #page, #footer { font-size: 0.85em; line-height: 1.4em; }

	#header .headermenu li a { padding: 7em 1.9em 0.1em 0.7em;  }
	
}


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

	/* #page { border-color: #FF0; } */
	
	#header .headermenu li a { padding: 2em 1em 0.2em 0.5em;  }
	.wf-active #header .headermenu li a { font-size: 1em; }
	
	#header #site-title { width: 100%; text-align: center; }

	.home .hfeed .mod { float: none; clear: both; width: 100%; }
	
	.primary, .secondary, #widgets-sidebar-1 { width: auto; float: none; clear: both; }
	.hfeed { padding-right: 0; }
	#widgets-sidebar-1 .widget{ margin-top: 1em; padding-top: 1em;  border-top: 1px solid #CCC; }

	#widgets-bottom { padding-top: 0; margin-top: 0; border-top: none; }

	#widgets-bottom .widget { width: auto; float: none; clear: both;  margin-top: 1em; padding-top: 1em;  border-top: 1px solid #CCC; }
	#widgets-bottom .widget#flickrrss { clear: both; width: 100%; margin-top: 1em; padding-top: 1em;  border-top: 1px solid #CCC;  }

}


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* #page { border-color: #F00; } */

	#header #site-title { width: auto; text-align: left; }
	#header .headermenu li a { padding: 2em 1em 0.2em 0.5em;  }
	.wf-active #header .headermenu li a { font-size: 1.2em; }
	
	.primary { width: 60%; float: left; clear: none; }
	.hfeed { padding-right: 1.5em; }
	#widgets-sidebar-1, .secondary { width: 40%; float: left; clear: none; }
	#widgets-sidebar-1 .widget { margin-top: none; padding-top: none;  border-top: none; }
	
	#widgets-bottom .widget#flickrrss,
	#widgets-bottom .widget { width: 47%; float: left; border-top: none; clear: none; }
	#widgets-bottom .widget#flickrrss { margin-right: 0; width: 49%; }
	#widgets-bottom .widget.widget_nav_menu { clear: both; }
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
}

